

.nav-link {
  color: red !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  width: 30px;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: red;
  margin: 4px 0;
}

.custom-toggler .navbar-toggler-icon::before {
  margin-top: 0;
}

.custom-toggler .navbar-toggler-icon::after {
  margin-bottom: 0;
}



@media (min-width: 992px) {
  .my-navbar {
    min-height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .my-navbar .navbar-collapse {
    flex-grow: 1;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }

  .my-navbar .navbar-brand img {
    max-height: 40px;
    margin-bottom:20px;
  }

  .my-navbar form input::placeholder {
    color: #dc3545;
  }
}